<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do App - Aniket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

   <style>
   .hover
   {
     cursor:pointer;
   }
   body
   {  background-color:  cornsilk;

   }

   h1,h2,h3,h4,h5,h6 {
     font-family: 'Jazz LET', fantasy;
   }

   .Jumbotron
   {
     background-color: white;
     text-align: center;
   }

   </style>
  </head>
  <body>
<h3>Remeber, create, complete </h3>

<div class="container">
    <div class="btn-group">
      <div id="formsubmit">

  <form class="form-group" id="form">
    <input class="form-control", type="text", name="title", placeholder="Add task", id="titlelist">
    <input class="btn btn-success" type="submit" id="submit">
  </form>
</div>

</div>
</div>
<div class="container table-responsive">
<table id="wrap" class="table table-hover">
</table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>

function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
  var activeitem=null;


buildlist();

  function buildlist()
  {var wrapper = document.getElementById('wrap')
   wrapper.innerHTML = ` `
  var url = 'http://127.0.0.1:8000/todoapp/task-list/'

  fetch(url)
    .then((resp)=> resp.json())
    .then(function(data)
    {//console.log('Data:', data)
    var list = data

    for(var i in list){
    var title =  `<span class="titlecorrect">${list[i].title}</span>`
    if (list[i].completed == true){
					var	title = `<strike class="titlecorrect">${list[i].title}</strike>`
					}
    var item =`<tr>

    <td class="hover">
    ${title}
    </td>


  <td><button class="btn btn-info edit" id="edit"> Edit </button></td>
  <td><button class="btn btn-danger delete" id="delete"> Delete </button></td>

  </tr>
  `
  wrapper.innerHTML += item

  }

  for(var j in list)
  {
    var editbtn = document.getElementsByClassName('edit')[j]

    var deletebtn = document.getElementsByClassName('delete')[j]

    var title = document.getElementsByClassName('titlecorrect')[j]
    editbtn.addEventListener('click',(function(item){
  return function(){
   editlist(item)
  }

})(list[j]))

    deletebtn.addEventListener('click',(function(item){
  return function(){
   deletelist(item)
  }

})(list[j]))

 title.addEventListener('click',(function(item){
return function(){
strikelist(item)
}

})(list[j]))
  }

})}


 var form = document.getElementById('formsubmit')

  form.addEventListener('submit',function(e){ e.preventDefault();
    var url = `http://127.0.0.1:8000/todoapp/task-create/`
    var title = document.getElementById('titlelist').value

    if(activeitem!=null)
    { url = `http://127.0.0.1:8000/todoapp/task-update/${activeitem.id}/`
      console.log(url)
     activeitem=null;

    }
    fetch(url,{
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken':csrftoken,
    },
    body: JSON.stringify({'title':title})

})
   .then(function(response){
    buildlist();
    document.getElementById('form').reset()

    })



  }
)

function editlist(item){
 console.log("Edit button clicked")
  activeitem = item
  document.getElementById('titlelist').value = activeitem.title
}

function deletelist(item){

  			console.log('Delete clicked')
  			fetch(`http://127.0.0.1:8000/todoapp/task-delete/${item.id}/`, {
  				method:'DELETE',
  				headers:{
  					'Content-Type':'application/json',
  					'X-CSRFToken':csrftoken,
  				}
  			}).then((response) => {
  				buildlist()
  			})

}

function strikelist(item){

  			console.log('strike clicked')
        item.completed = (!item.completed)

  			fetch(`http://127.0.0.1:8000/todoapp/task-update/${item.id}/`, {
  				method:'POST',
  				headers:{
  					'Content-Type':'application/json',
  					'X-CSRFToken':csrftoken,
  				},
          body: JSON.stringify({'title':item.title, 'completed':item.completed})

  			}


      ).then((response) => {
  				buildlist()
  			})

}

</script>
</body>


</html>
